<div *ngIf="wishes.length === 0;else showItems"> 
    There are no items to display
</div>

  <ng-template #showItems>
    <ul class="wish-list"> 
      <li *ngFor="let item of wishes">
        <div class="form-check">
          <label class="form-check-label" [class.completed]="item.isComplete">
          <input 
          class="checkbox" 
          type="checkbox"
          [checked]="item.isComplete"
          (click)="toggleItem(item)"
          > {{item.wishText}}
          </label>
        </div>
      </li>
    </ul>
  </ng-template>
